

@{
    ViewData["Title"] = "Index";
}

@*@model IList<EFModel.Models.User>*@
@model IQueryable<EFModel.Models.EFModels.Order>


    <table>
        <tr>
            <td></td>
        </tr>
    </table>



