@page
@model LoginModel

<form id="account" method="post">

    @* // All Errors*@
    <div asp-validation-summary="All" class="text-danger"></div>

    @*// Email*@
    <div class="form-group">
        <div class="form-label-group">
            <label asp-for="Input.Email" class="form-label"></label>
        </div>
        <div class="form-control-wrap">
            <input asp-for="Input.Email" class="form-control form-control-lg" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>

    @*// Password*@
    <div class="form-group">
        <div class="form-label-group">
            <label asp-for="Input.Password" class="form-label"></label>
            <a class="link link-primary link-sm" href="html/pages/auths/auth-reset-v2.html">Forgot Password?</a>
        </div>
        <div class="form-control-wrap">
            <input asp-for="Input.Password" class="form-control form-control-lg" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        @*// Remember me*@
        <div class="form-group mt-3">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit"
        class="btn btn-lg btn-primary btn-block"
        style="background: #FDEC00; color:black;"
        onmouseover = "this.style.backgroundColor ='white'; this.style.color = 'black'"
        onmouseout = "this.style.backgroundColor ='#FDEC00'; this.style.color = 'black'">Log in</button>
    </div>
</form>

    @section Scripts
    {
<partial name="_ValidationScriptsPartial" />
    }